<div class="top-action">
  <div class="title">
    <span>Project List</span>
  </div>
  <div class="action">
    <button mat-raised-button
      color="primary"
      (click)="openCreateModal()">Add Project</button>
  </div>
</div>
<table mat-table
  [dataSource]="projects"
  class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell
      *matHeaderCellDef> Title </th>
    <td mat-cell
      *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell
      *matHeaderCellDef> Description </th>
    <td mat-cell
      *matCellDef="let element"> {{element.description | slice:0:20}}... </td>
  </ng-container>
  <ng-container matColumnDef="budget">
    <th mat-header-cell
      *matHeaderCellDef> Budget </th>
    <td mat-cell
      *matCellDef="let element"> {{element.budget | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell
      *matHeaderCellDef> Created </th>
    <td mat-cell
      *matCellDef="let element"> {{element.createdAt | date: 'medium'}} </td>
  </ng-container>
  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell
      *matHeaderCellDef> Updated </th>
    <td mat-cell
      *matCellDef="let element"> {{element.updatedAt| date: 'medium'}} </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell
      *matHeaderCellDef> Action </th>
    <td mat-cell
      *matCellDef="let element">
      <button mat-raised-button
        color="primary"
        (click)="onDetailsclick(element._id)">Details</button>
      <button mat-raised-button
        color="accent"
        (click)="onEditClick(element._id)">Edit</button>
      <button mat-raised-button
        color="warn"
        (click)="onDeleteClick(element._id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row
    *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
    *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br />
<mat-paginator [length]="pagination.total"
  [pageSize]="pagination.limit"
  [pageSizeOptions]="[2, 5, 10]"
  aria-label="Select page"
  (page)="onPaginationChange($event)"
>
</mat-paginator>
