.top-action div{
  width: 50%;
  float: left;
  margin-bottom: 10px;
}
.top-action .title span{
  font-size: 18px;
  display: block;
  padding: 10px 5px;
}
.top-action .action{
  text-align: right;
}

button{
  margin-right: 10px;
}
